<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"> -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="logo">MyMoney</h1>
        <ul class="nav-ul">
            <li class="nav-li"><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="left">
            <div class="img-div-left">
                <!-- <img src="{{url_for('static', filename = 'exp3.png')}}" alt="" class="main-img-left"> -->
                <img src="../static/shield.png" alt="" class="main-img-left">
            </div>
        </div>
        <div class="center">

            <h1 class="head">Register</h1>

            <form action="/register" class="register" method="post">
                <label for="username">Name</label>
                <input type="text" name="username" class="inp">

                <label for="email">Email</label>
                <input type="email" name="email" class="inp">

                <label for="password">Password</label>
                <input type="password" name="password" class="inp">

                <label for="cname">Company Name</label>
                <input type="text" name="cname" class="inp">

                <input type="submit" value="Register" class="inp-btn">

            </form>
            {% if message %}
            <div class="alert-error">
                <h3>{{message}}</h3>
            </div>
            {% endif %}
        </div>
        <div class="right">
            <div class="img-div-right">
                <!-- <img src="{{url_for('static', filename = 'exp4.png')}}" alt="" class="main-img-right"> -->
                <img src="../static/rightimg.png" alt="" class="main-img-right">
            </div>
        </div>
    </div>
</body>
</html>