@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/lemon-tuesday');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #120E43;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #6c73ee; */
    background-color: #7C4CFB;
    color: rgb(234, 237, 240);
    position: fixed;
    top: 0;
    width: 100vw;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-li{
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}

.nav-li:hover{
    /* background-color: #545CB3; */
    background-color: #9900FF;
    text-decoration: underline;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}

.logo{
    font-family: 'Lemon Tuesday', sans-serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem;
}

/* .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6c73ee;
    background-color: #7C4CFB;
    color: rgb(234, 237, 240);
}
.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-li{
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
}

.nav-li:hover{
    background-color: #545CB3;
    background-color: #9900FF;
    cursor: pointer;
}

.logo{
    font-family: 'Lemon Tuesday', sans-serif;
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem;
} */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #120E43;
    color: aliceblue;
    height: 100vh;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 92vh; */
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
}

.img-div-right{
    height: 100vh;
    margin-top: 16.5rem;
}

.img-div-left{
    height: 100vh;
    margin-top: 18.5rem;
}
.register{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.inp{
    width: 20vw;
    height: 5vh;
    border: 2px solid #8a8383;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
}

.inp-btn{
    margin-top: 15px;
    width: 20vw;
    height: 5vh;
    background-color: #6c73ee;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
}
.inp-btn:hover{
    background-color: #545CB3;
    cursor: grab;
}

/* .head{
    color: black;
} */
.company{
    color: #ffffff;
    margin-bottom: 15vh;
}

.main-img-left{
    transform: scale(0.90, 0.90);
}

.main-img-right{
    transform: scale(1.30, 0.90);
}

.alert-error{
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid red;
    color: #333;
    background-color: #FF6263;
    width: 20vw;
}